<!-- layouts/partials/nav.html -->
<nav class="site-nav">
  <ul>
    <li><a href="{{ "/" | relURL }}">Home</a></li>
    <li><a href="{{ "/about/" | relURL }}">About</a></li>
    <li><a href="{{ "/projects/" | relURL }}">Projects</a></li>
    <li><a href="{{ "/services/" | relURL }}">Services</a></li>
    <li><a href="{{ "/drawings/" | relURL }}">Drawings</a></li>
    <li><a href="{{ "/gallery/" | relURL }}">Gallery</a></li>
    <li><a href="{{ "/contact/" | relURL }}">Contact</a></li>
    <li>
        <li class="logo-nav-item">
          <a href="https://ahbeeweb.netlify.app" target="_blank" class="logo-link">
            <img src="/images/AhbeeWeb.png" alt="Ahbee Web - Web Design & Development" class="nav-logo">
            <!-- Add the 'nav-logo' class here ^ -->
            <span class="logo-tooltip">Our Sister Business: Web Design</span>
          </a>
        </li>
  </ul>
</nav>