<!-- layouts/partials/nav.html -->
<nav class="site-nav">
  <button class="mobile-menu-toggle" aria-expanded="false" aria-controls="primary-menu">
        <span class="sr-only">Menu</span>
        <span class="hamburger"></span>
  </button>
  <ul>
    <li><a href="{{ "/" | relURL }}">Home</a></li>
    <li><a href="{{ "/about/" | relURL }}">About</a></li>
    <li><a href="{{ "/projects/" | relURL }}">Projects</a></li>
    <li><a href="{{ "/services/" | relURL }}">Services</a></li>
    <li><a href="{{ "/designs/" | relURL }}">Designs</a></li>
    <li><a href="{{ "/gallery/" | relURL }}">Gallery</a></li>
    <li><a href="{{ "/contact/" | relURL }}">Contact</a></li>

  </ul>
</nav>

